{% extends "layout.html.twig" %}
{% block boissons %}
	<div id="boissonsParallax">
		<div class="maskProductBox">
		{% if drinks != null %}
			{% set i = 0 %}
			{% for drink in drinks %}
				{% set i = i+1 %}
					{% if i%2 != 0 %}
						<div class="contentProductBoxPair">
							<div class="productBoxPair">
								<img class="imgProductBox" src="{{drink.imagePath}}">
								<h2>{{drink.name}} <br> {{drink.price}}€</h2>	
							</div>
							<p>{{drink.description}}</p>
						</div>
					{% else %}	
						<div class="contentProductBoxImpair">
							<div class="productBoxImpair">
								<img class="imgProductBox" src="{{drink.imagePath}}">
								<h2>{{drink.name}} <br> {{drink.price}}€</h2>
							</div>
							<p>{{drink.description}}</p>
						</div>
				{% endif %}
			{% endfor %}
		{% endif %}
		</div>
	</div>
{% endblock %}
