{% extends "layout.html.twig" %}
{% block client %}
		<div class="container">
  <h2 id="titreCompte">Mon Compte</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Email</th>
        <th>Adress</th>
        <th>Telephone</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{infosUserFirstname}}</td>
        <td>{{infosUserLastname}}</td>
        <td>{{infosUseremail}}</td>
        <td>{{infosUserAdress}}</td>
        <td>{{infosUsertel}}</td>
      </tr>
    </tbody>
  </table>
</div>
		
{% endblock %}
