{% extends "layout.html.twig" %}
{% block panier %}
	{% if cartItems != null %}
		<div class="jumbotron mb-0">
		  <div id="contentJumbotronCart" class="container-fluid">
		    <h1 class="display-4">{% include 'shoppingBasket.html.twig' %}Panier</h1><hr>
		  </div>
		</div>
	<div id="contentTableCart" class="container-fluid">
		<table class="table table-hover table-light mb-0">
			<thead class="bg-danger">
				<tr>
				<th>Articles</th>
				<th>Nom du produit</th>
				<th>Quantité</th>
				<th>Prix (p * qte)</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
				{% for cartItem in cartItems %}
					<tr class="itemRow" id="item{{cartItem.id}}">
						<td><img style="width:30%;" src="{{cartItem.imagepath}}"></td>
						<td class="w-25">{{cartItem.name}}</td>
						<td>{{cartItem.quantity}}</td>
						<td>{{cartItem.price * cartItem.quantity}} € ({{cartItem.quantity}} * {{cartItem.price}}€)
						</td>
						<td class="binCase" data-id='{{cartItem.id}}'>{% include 'bin.html.twig' %}</td>
					</tr>
				{% endfor %}
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td><strong id="totalPriceCart">Prix Total : {{totalPrice}}€</strong></td>
				<script>
				var prixTotal = {{totalPrice}};
				</script>
				<td></td>
			</tr>
			</tbody>
		</table>
		<a href="/order" class="btn btn-lg btn-primary">Commander !</a>
	</div>
	{% else %}
		<h1>Il n'y a actuellement aucun produits dans votre panier !</h1>
	{% endif %}
{% endblock %}