{% extends "layout.html.twig" %}
{% block panier %}
	{% if cartItems != null %}
		<div class="jumbotron mb-0">
		  <div id="contentJumbotronCart" class="container-fluid">
		    <h1 class="display-4">{% include 'shoppingBasket.html.twig' %}Panier</h1><hr>
		  </div>
		</div>
	<div id="contentTableCart" class="container-fluid">
		<table id="tableCart" class="table table-hover table-light text-center mb-0">
			<thead class="bg-danger text-white">
				<tr>
				<th>Article</th>
				<th>Nom du produit</th>
				<th>Quantité</th>
				<th>Prix</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
				{% for cartItem in cartItems %}
					<tr class="itemRow" id="item{{cartItem.id}}">
						<td><img style="width:30%;" src="{{cartItem.imagepath}}"></td>
						<td>{{cartItem.name}}</td>
						<td><i data-id='{{cartItem.id}}' class="fa fa-minus-circle btnQtyCart btQtyCartMinus"></i><input disabled class="qtyInputCart qtyInputCartId{{cartItem.id}} text-center" type="text" value="{{cartItem.quantity}}"><i data-id='{{cartItem.id}}' class="fa fa-plus-circle btnQtyCart btQtyCartPlus"></i></td>
						<td data-price="{{cartItem.price * cartItem.quantity}}" class="priceTotalProductId{{cartItem.id}}">{{cartItem.price * cartItem.quantity}} €
						</td>
						<td class="binCase" data-price="{{cartItem.price * cartItem.quantity}}" data-id='{{cartItem.id}}'>{% include 'bin.html.twig' %}</td>
					</tr>
				{% endfor %}
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td><strong id="totalPriceCart">Prix Total : {{totalPrice}}€</strong></td>
				<script>
				var prixTotal = {{totalPrice}};
				</script>
				<td></td>
			</tr>
			</tbody>
		</table>
		<form id="formOrder" method="post" action="/checkOrderOption">
			<input id="inputChoiceOrderMode" name="inputChoiceOrderMode" type="hidden">
			<input id="inputChoicePaiementMode" name="inputChoicePaiementMode" type="hidden">
			<input id="inputChoiceDeliveryMode" name="inputChoiceDeliveryMode" type="hidden">
			<input id="inputOrderFormattedAddress" name="inputOrderFormattedAddress" type="hidden">
			<input id="inputOrderLat" name="inputOrderLat" type="hidden">
			<input id="inputOrderLng" name="inputOrderLng" type="hidden">
			<input id="inputOrderDist" name="inputOrderDist" type="hidden">
		</form>
		<a href="#" id="orderButton" class="btn btn-lg btn-danger">Commander !</a>
	</div>
	{% else %}
		<div class="container pt-5 mt-5">
		<h1>Il n'y a actuellement aucun produit dans votre panier !</h1>
		<hr>
		</div>

	{% endif %}
{% endblock %}


{% block js %}
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkeHVc5oyBqsO1mjf7xwA4vrdVS12O6oI&libraries=places&callback=init">
	</script>
	<script src="js/distanceMatrix.js"></script>
    <script src="js/index.js"></script> 
    <script src="js/updatePanier.js"></script> 
    <script src="js/deleteItems.js" ></script> 
    <script src="js/selectOrderMode.js" ></script> 

{% endblock %}
