{% extends "layout.html.twig" %}
{% block panier %}
	{% if cartItems != null %}
	<div class="container">
		<table class="table table-hover table-dark">
			<thead class="thead-light">
				<tr>
				<th>Image</th>
				<th>Nom du produit</th>
				<th>Description</th>
				<th>Quantité</th>
				<th>Prix (p * qte)</th>
			</tr>
			</thead>
			<tbody>
				{% for cartItem in cartItems %}
					<tr>
						<td><img style="width:20%;" src="{{cartItem.imagepath}}"></td>
						<td>{{cartItem.name}}</td>
						<td>{{cartItem.description}}</td>
						<td>{{cartItem.quantity}}</td>
						<td>{{cartItem.price * cartItem.quantity}} € ({{cartItem.quantity}} * {{cartItem.price}}€)
						</td>
					</tr>
				{% endfor %}
			<tr>
				<td>Prix Total :</td>
				<td></td>
				<td></td>
				<td></td>
				<td>{{totalPrice}}€</td>
			</tr>
			</tbody>
		</table>
	</div>
	{% endif %}
{% endblock %}