{% extends "layout.html.twig" %}
{% block pFaims %}
	<div id="parallax" class="margtop">	
		<div class="maskProductBox">
		{% if suppls != null %}
			{% set i = 0 %}
			{% for suppl in suppls %}
				<div class="lineProduct text-center mb-3" id="{{ suppl.id }}">
				{% set i = i+1 %}
					{% if i%2 != 0 %}
						<div class="block d-md-flex col-sm-8 col-md-12 justify-content-center align-items-center">
					<div class="col-md-4 p-0 productImageBox">
						<h3 class="mb-0">{{suppl.name}}</h3>
						<img class="w-75 mt-3 imageProduit" src="{{suppl.imagePath}}">
						<p>{{suppl.price|number_format(2, '.', ',')}} €</p>
						<div data-id="{{ suppl.id }}" class="addProductFromPageImpair">
							<i class="fa fa-plus" aria-hidden="true"></i>
						</div>						
					</div>
					<div class="d-md-flex col-sm-12 col-md-8 productDescriptionBox d-flex justify-content-center align-items-center">
						<div class="productDescription">
							<p id="description" class="m-0 p-0">{{suppl.description}}</p>
						</div>
					</div>
				</div>
						
					{% else %}	


						<div class="block d-md-flex col-sm-8 col-md-12 flex-row-reverse justify-content-center align-items-center">
					<div class="col-md-4 p-0 productImageBox">
						<h3 class="mb-0">{{suppl.name}}</h3>
						<img class="w-75 mt-3 imageProduit" src="{{suppl.imagePath}}">
						<p>{{suppl.price|number_format(2, '.', ',')}} €</p>
						<div data-id="{{ suppl.id }}" class="addProductFromPagePair">
							<i class="fa fa-plus" aria-hidden="true"></i>
						</div>						
					</div>
					<div class="d-md-flex col-sm-12 col-md-8 col-md-8 productDescriptionBox d-flex justify-content-center align-items-center">
						<div class="productDescription">
							<p id="description" class="m-0 p-0">{{suppl.description}}</p>
						</div>
					</div>
				</div>
						
				{% endif %}

				</div>
			{% endfor %}
		{% endif %}	
		</div>	
	</div>
{% endblock %}
{% block js %}
    <script src="js/index.js"></script> 
    <script src="js/updatePanier.js"></script> 
{% endblock %}
