{% extends "layout.html.twig" %}
{% block sandwichs %}
	<div id="sandwichParallax">
		<div class="maskProductBox">
		{% if sandwichs != null %}
			{% set i = 0 %}
			{% for sandwich in sandwichs %}
				<div class="lineProduct text-center mb-3" id="{{ sandwich.id }}">
				{% set i = i+1 %}
					{% if i%2 != 0 %}
						<div class="d-flex flex-row justify-content-center align-items-center">
					<div class="col-md-4 p-0 productImageBox">
						<h3 class="mb-0">{{sandwich.name}}</h3>
						<img class="w-75 mt-3" src="{{sandwich.imagePath}}">
						<p>{{sandwich.price|number_format(2, '.', ',')}} €</p>
						<div data-id="{{ sandwich.id }}" class="addProductFromPageImpair">
							<i class="fa fa-plus" aria-hidden="true"></i>
						</div>						
					</div>
					<div class="col-md-8 productDescriptionBox d-flex justify-content-center align-items-center">
						<div class="productDescription">
							<p class="m-0 p-0">{{sandwich.description}}</p>
						</div>
					</div>
				</div>
						
					{% else %}	


						<div class="d-flex flex-row-reverse justify-content-center align-items-center">
					<div class="col-md-4 p-0 productImageBox">
						<h3 class="mb-0">{{sandwich.name}}</h3>
						<img class="w-75 mt-3" src="{{sandwich.imagePath}}">
						<p>{{sandwich.price|number_format(2, '.', ',')}} €</p>
						<div data-id="{{ sandwich.id }}" class="addProductFromPagePair">
							<i class="fa fa-plus" aria-hidden="true"></i>
						</div>						
					</div>
					<div class="col-md-8 productDescriptionBox d-flex justify-content-center align-items-center">
						<div class="productDescription">
							<p class="m-0 p-0">{{sandwich.description}}</p>
						</div>
					</div>
				</div>
						
				{% endif %}

				</div>
			{% endfor %}
		{% endif %}
		</div>
	</div>
{% endblock %}
{% block js %}
	<script src="js/index.js"></script> 
	<script src="js/updatePanier.js"></script> 
{% endblock %}
